In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel("zomato_data.xlsx")
data.head()

,RestaurantID,RestaurantName,CountryCode,Country,City,Address,Locality,LocalityVerbose,Longitude,Latitude,...,Datekey_Opening,Unnamed: 21,Cuisines 1,Cuisines 2,Cuisines 3,Cuisines 4,Cuisines 5,Cuisines 6,Cuisines 7,Cuisines 8
0,18435314,Punjabi's Veg Grill,1,India,New Delhi,"13/288 , 14 Block Gurudwra, Geeta Colony, New ...",Geeta Colony,"Geeta Colony, New Delhi",77.276769,28.650775,...,2013_9_21,NaN,North Indian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18378015,Tasty Tandoor,1,India,New Delhi,"726/2, Jheel Khuranja, Geeta Colony, New Delhi",Geeta Colony,"Geeta Colony, New Delhi",77.275052,28.658216,...,2016_9_10,NaN,North Indian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18424905,Taste of Spice,1,India,New Delhi,"C-222, Lajpat Nagar 1, New Delhi",Lajpat Nagar 1,"Lajpat Nagar 1, New Delhi",77.241312,28.578311,...,2018_9_25,NaN,North Indian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18180072,Kolcata Bengali Dhaba,1,India,New Delhi,"Gali 7, Mahipalpur, New Delhi",Mahipalpur,"Mahipalpur, New Delhi",77.123932,28.543587,...,2018_9_6,NaN,North Indian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18415377,Sunil Punjabi Dhaba,1,India,New Delhi,"Main Vasant Kunj Road, Mahipalpur, New Delhi",Mahipalpur,"Mahipalpur, New Delhi",77.129706,28.541369,...,2013_9_17,NaN,North Indian,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.shape

(9551, 30)

In [4]:
data.columns

Index(['RestaurantID', 'RestaurantName', 'CountryCode', 'Country', 'City',
       'Address', 'Locality', 'LocalityVerbose', 'Longitude', 'Latitude',
       'Cuisines', 'Currency', 'Has_Table_booking', 'Has_Online_delivery',
       'Is_delivering_now', 'Switch_to_order_menu', 'Price_range', 'Votes',
       'Average_Cost_for_two', 'Rating', 'Datekey_Opening', 'Unnamed: 21',
       'Cuisines 1', 'Cuisines 2', 'Cuisines 3', 'Cuisines 4', 'Cuisines 5',
       'Cuisines 6', 'Cuisines 7', 'Cuisines 8'],
      dtype='object')

In [5]:
data.isnull().sum()

RestaurantID               0
RestaurantName             0
CountryCode                0
Country                    0
City                       0
Address                    0
Locality                   0
LocalityVerbose            0
Longitude                  0
Latitude                   0
Cuisines                   9
Currency                   0
Has_Table_booking          0
Has_Online_delivery        0
Is_delivering_now          0
Switch_to_order_menu       0
Price_range                0
Votes                      0
Average_Cost_for_two       0
Rating                     0
Datekey_Opening            0
Unnamed: 21             9551
Cuisines 1                 9
Cuisines 2              3403
Cuisines 3              6847
Cuisines 4              8687
Cuisines 5              9271
Cuisines 6              9435
Cuisines 7              9509
Cuisines 8              9537
dtype: int64

In [6]:
data.drop("Unnamed: 21",axis=1,inplace=True)

In [12]:
restaurants_with_8_cuisins=data.loc[~(data['Cuisines 8'].isnull()==True)]
restaurants_with_8_cuisins['Country'].head(14)

1014    South Africa
1024    South Africa
1057           India
1060           India
1074           India
1088           India
1092           India
3512           India
4571           India
6290           India
7432           India
7987           India
8268           India
8348           India
Name: Country, dtype: object

In [27]:
data['Datekey_Opening'].max()

'2018_9_9'

In [59]:
data['Cuisines 1'].nunique()

119

In [5]:
data.columns

Index(['RestaurantID', 'RestaurantName', 'CountryCode', 'Country', 'City',
       'Address', 'Locality', 'LocalityVerbose', 'Longitude', 'Latitude',
       'Cuisines', 'Currency', 'Has_Table_booking', 'Has_Online_delivery',
       'Is_delivering_now', 'Switch_to_order_menu', 'Price_range', 'Votes',
       'Average_Cost_for_two', 'Rating', 'Datekey_Opening', 'Unnamed: 21',
       'Cuisines 1', 'Cuisines 2', 'Cuisines 3', 'Cuisines 4', 'Cuisines 5',
       'Cuisines 6', 'Cuisines 7', 'Cuisines 8'],
      dtype='object')

# Insights

In [11]:
# Which country has the least of the zomato restaurants, top 3?
data.groupby("Country")['RestaurantID'].count().sort_values(ascending=True).head(3)

Country
Canada       4
Qatar       20
Srilanka    20
Name: RestaurantID, dtype: int64

In [ ]:
# Which zomato restaurant is the most expensive restaurant overall?
# Decided based on the "average cost for two" column
data.groupby("RestaurantName")['Average_Cost_for_two'].mean().sort_values(ascending=False).head(5)

RestaurantName
Skye                           800000.0
Satoo - Hotel Shangri-La       800000.0
Sushi Masa                     500000.0
3 Wise Monkeys                 450000.0
Avec Moi Restaurant and Bar    350000.0
Name: Average_Cost_for_two, dtype: float64

In [57]:
# Which zomato restaurant is the cheapest restaurant overall?
# Decided based on the "average cost for two" column
filtered_data=data[data['Average_Cost_for_two']!=0]
filtered_data.groupby("RestaurantName")['Average_Cost_for_two'].mean().sort_values(ascending=True).head(3)

RestaurantName
The Giggling Goat    7.0
Funkey Monkey        7.0
Beach Box Cafe       7.0
Name: Average_Cost_for_two, dtype: float64

In [27]:
# Which country has the average price range as the most cheapest?
data.groupby("Country")['Price_range'].mean().sort_values(ascending=True).head(5)

Country
India        1.721683
USA          2.046083
Australia    2.125000
Canada       2.500000
UK           2.750000
Name: Price_range, dtype: float64

In [28]:
# Which country has the average price range as the most expensive?
data.groupby("Country")['Price_range'].mean().sort_values(ascending=False).head(5)

Country
Qatar           3.650000
Singapore       3.650000
South Africa    3.583333
Brazil          3.400000
Phillipines     3.363636
Name: Price_range, dtype: float64

In [32]:
# Which are the five most expensive restaurants in most expensive country?
qatar_restaurants=data[data['Country']=='Qatar']
top_5_most_expensive_restaurants=qatar_restaurants.groupby('RestaurantName')['Average_Cost_for_two'].mean().sort_values(ascending=False).head(5)
top_5_most_expensive_restaurants

RestaurantName
Vine - The St. Regis                        550.0
Coral - InterContinental Doha               500.0
Sabai Thai - The Westin Doha Hotel & Spa    445.0
Paper Moon                                  400.0
Zaffran Dining Experience                   300.0
Name: Average_Cost_for_two, dtype: float64

In [33]:
# Which are the five most cheapest restaurants in most expensive country?
qatar_restaurants=data[data['Country']=='Qatar']
top_5_most_cheapest_restaurants=qatar_restaurants.groupby('RestaurantName')['Average_Cost_for_two'].mean().sort_values(ascending=True).head(5)
top_5_most_cheapest_restaurants

RestaurantName
Gokul Gujarati Restaurant          50.0
MRA Bakery Sweets & Restaurant     60.0
Punjab Restaurant                  80.0
Indian Coffee House                80.0
Aalishan                          100.0
Name: Average_Cost_for_two, dtype: float64

In [38]:
# Which are the five most cheapest restaurants in the most cheapest country?
indian_restaurants=data[(data['Country']=='India') & (data['Average_Cost_for_two']!=0)]
top_5_most_cheapest_restaurants_india=indian_restaurants.groupby('RestaurantName')['Average_Cost_for_two'].mean().sort_values(ascending=True).head(5)
top_5_most_cheapest_restaurants_india

RestaurantName
Raju De Special Paneer Wale      50.0
Pakode Ki Dukaan                 50.0
Pandit Ved Prakash Lemon Wale    50.0
Sharma Kachoriwala               50.0
Indian Special Hot Momos         50.0
Name: Average_Cost_for_two, dtype: float64

In [39]:
# Which are the five most expensive restaurants in the most cheapest country?
indian_restaurants=data[(data['Country']=='India')]
top_5_most_expensive_restaurants_india=indian_restaurants.groupby('RestaurantName')['Average_Cost_for_two'].mean().sort_values(ascending=False).head(5)
top_5_most_expensive_restaurants_india

RestaurantName
Orient Express - Taj Palace Hotel           8000.0
Tian - Asian Cuisine Studio - ITC Maurya    7000.0
Bukhara - ITC Maurya                        6500.0
1911 - The Imperial                         6000.0
The Spice Route - The Imperial              6000.0
Name: Average_Cost_for_two, dtype: float64

In [ ]:
# Which country restaurants have the least average ratings?
data.groupby("Country")['Rating'].mean().sort_values(ascending=True).head(1)

Country
India        2.770550
Canada       3.575000
Singapore    3.575000
Australia    3.658333
Brazil       3.846667
Name: Rating, dtype: float64

In [43]:
# Which country restaurants have the highest average ratings?
data.groupby("Country")['Rating'].mean().sort_values(ascending=False).head(1)

Country
Phillipines    4.468182
Name: Rating, dtype: float64

In [49]:
# Which city has the highest number of restaurants left delivering?
left_online_delivery=data[data['Has_Online_delivery']=='No']
left_online_delivery.groupby("City")['RestaurantID'].count().sort_values(ascending=False).head()

City
New Delhi    3984
Noida         716
Gurgaon       693
Faridabad     216
Amritsar       21
Name: RestaurantID, dtype: int64

In [51]:
# Which city zomato restaurants has the most table bookings?
table_booking_restaurants=data[data['Has_Table_booking']=='Yes']
table_booking_restaurants.groupby("City")['RestaurantID'].count().sort_values(ascending=False).head()

City
New Delhi    715
Gurgaon      204
Noida        112
Faridabad     15
Chennai       13
Name: RestaurantID, dtype: int64

In [ ]:
data['Has_Online_delivery']

In [ ]:
# Which city zomato restaurants has the most online deliveries?
online_delivering_restaurants=data[data['Has_Online_delivery']=='Yes']
online_delivering_restaurants.groupby("City")['RestaurantID'].count().sort_values(ascending=False).head()

City
New Delhi    1489
Gurgaon       425
Noida         364
Faridabad      35
Chennai        13
Name: RestaurantID, dtype: int64

In [66]:
# Which restaurant has opened first of all?
data.groupby('RestaurantName')['Datekey_Opening'].max().sort_values(ascending=True).head(10)

RestaurantName
Evergreen Food Corner                    2010_10_1
The Bento Cafe                          2010_10_10
Dhaba - The Claridges                   2010_10_10
The Great Kabab Factory - Park Plaza    2010_10_10
KGN Chicken Corner                      2010_10_11
Laguna                                  2010_10_12
Meraki                                  2010_10_12
Saptagiri                               2010_10_12
Mughlai Junction                        2010_10_13
London Street Kitchen                   2010_10_13
Name: Datekey_Opening, dtype: object

In [67]:
# Which restaurant has opened last of all?
data.groupby('RestaurantName')['Datekey_Opening'].max().sort_values(ascending=False).head(10)

RestaurantName
Bake Bikaner                               2018_9_9
Pizzeria Vaatika Cafe                      2018_9_9
Punjabi Mirchi                             2018_9_9
Fortune Deli - Fortune Select Excalibur    2018_9_8
Chawla's 2                                 2018_9_8
Punjab Grill                               2018_9_8
Hakka Haus                                 2018_9_8
Rice Bowl                                  2018_9_8
Chaophraya                                 2018_9_8
Kolcata Bengali Dhaba                      2018_9_6
Name: Datekey_Opening, dtype: object

In [58]:
# In the data for indian restaurants there is average cost for two is 0, which looks the error while collection.